{% set key = 0 %}
<div id="SinoptikInformer" style="width:{{ width }}px;" class="SinoptikInformer {{ color }}">
  <div class="siHeader">
    <div class="siLh">
      <div class="siMh">
        <a onmousedown="siClickCount();" class="siLogo" href="{{ url }}" target="_blank" rel="nofollow" title="{{ 'Weather'|trans }}"> </a>
        {{ 'Weather <span id="siHeader"></span>'|trans }}
      </div>
    </div>
  </div>
  <div class="siBody">
    {% for city in cities %}
    <a onmousedown="siClickCount();" href="{{ url }}/{{ city.path }}" title="{{ city.weather_in_city }}" target="_blank">
      <div class="siCity">
        <div class="siCityName"><span>{{ city.name }}</span></div>
        <div id="siCont{{ key }}" class="siBodyContent">
          <div class="siLeft">
            <div class="siTerm"></div>
            <div class="siT" id="siT{{ key }}"></div>
            <div id="weatherIco{{ key }}"></div>
          </div>
          <div class="siInf">
            <p>{% trans %}humidity: <span id="vl{{ key }}"></span>{% endtrans %}</p>
            <p>{% trans %}pressure: <span id="dav{{ key }}"></span>{% endtrans %}</p>
            <p>{% trans %}wind: <span id="wind{{ key }}"></span>{% endtrans %}</p>
          </div>
        </div>
      </div>
    </a>
      {% set key = key + 1 %}
    {% endfor %}
    <div class="siLinks">
      {% trans %}Weather for 10 days from {{ sinoptik_link }}{% endtrans %}
    </div>
  </div>
  <div class="siFooter">
    <div class="siLf">
      <div class="siMf"></div>
    </div>
  </div>
</div>
